@model IEnumerable<Blog.Models.PostModel>

@{
    ViewData["Title"] = "Search Page";
}


@section Link {
	<link href="@Url.Content("~/layout/styles/layout.css")" rel="stylesheet" type="text/css" media="all">
}

<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <div id="gallery">
                <figure>
                    <header class="heading">Gallery Title Goes Here</header>
                    <ul class="nospace group grid-3">
                        @foreach (var item in @Model)
                        {
                            <li class="one_third">
                                <div class="card">
                                    <a asp-action="Detail" asp-controller="Detail" asp-route-id="@item.Id" class="imgover">
                                        <img src="@Url.Content("~/images/" + item.image)" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h3 class="title">@item.Title</h3>
                                        <p class="content">@item.CreatedDate</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <figcaption>Gallery Description Goes Here</figcaption>
                </figure>
            </div>
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <nav class="pagination">
                <ul>
                    <li><a href="#">&laquo; Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">6</a></li>
                    <li class="current"><strong>7</strong></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">15</a></li>
                    <li><a href="#">Next &raquo;</a></li>
                </ul>
            </nav>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>


@section Script {
    <script src="@Url.Content("~/../layout/scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/../layout/scripts/jquery.backtotop.js")"></script>
    <script src="@Url.Content("~/../layout/scripts/jquery.mobilemenu.js")"></script>
}

